<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–≤–µ—Ä–∞</h1>

–ï–∫–∞—Ç–µ—Ä–∏–Ω–∞, –ø—Ä–∏–≤–µ—Ç! 

ü§ù –¢–æ–±–æ–π –ø—Ä–æ–¥–µ–ª–∞–Ω–∞ –±–æ–ª—å—à–∞—è —Ä–∞–±–æ—Ç–∞, –º–æ–ª–æ–¥–µ—Ü! 

‚úèÔ∏è –í —ç—Ç–æ–π —Ç–µ—Ç—Ä–∞–¥–∫–µ –¥–∞–ª–µ–µ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –±—É–¥—É—Ç –≤—ã–¥–µ–ª–µ–Ω—ã –ø–æ —Ü–≤–µ—Ç–∞–º:

    
<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ó–µ–ª–µ–Ω–Ω—ã–π –±–ª–æ–∫ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ç–≤–æ–∏ —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ —Å–∏–ª—å–Ω—ã–µ —Å—Ç–æ—Ä–æ–Ω—ã —Ä–∞–±–æ—Ç—ã
</div>



    
<div class="alert alert-block alert-warning">
<b> ‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ñ–µ–ª—Ç—ã–π –±–ª–æ–∫ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ç–æ, —á—Ç–æ –∑–∞–¥–∞–Ω–∏–µ —Ä–µ—à–µ–Ω–æ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ, –Ω–æ –∫–∞–∫–∏–µ-—Ç–æ –≤–µ—â–∏ –º–æ–∂–Ω–æ —É–ª—É—á—à–∏—Ç—å –¥–ª—è –±–æ–ª—å—à–µ–π —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã, —á–∏—Å—Ç–æ—Ç—ã –∫–æ–¥–∞, –ø–æ–¥–¥–µ—Ä–∂–∫–∏ –∏ –ø—Ä.
</div>


<div class="alert alert-block alert-danger">
<b> ‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ö—Ä–∞—Å–Ω—ã–π –±–ª–æ–∫ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ç–æ, —Ç–æ –≤ –∑–∞–¥–∞–Ω–∏–∏ –¥–æ–ø—É—â–µ–Ω–∞ –æ—à–∏–±–∫–∞, –∫–æ—Ç–æ—Ä–∞—è –≤–ª–∏—è–µ—Ç –Ω–∞ –∏—Ç–æ–≥–æ–≤—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã, –∏ –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä–æ–π —Ä–∞–±–æ—Ç–∞ –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç–∞.
</div>


    
üìà –ù–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —Ç–∞–∫ –±—É–¥–µ—Ç –ø—Ä–æ—â–µ —Å–ª–µ–¥–∏—Ç—å –∑–∞ –¥–∏–Ω–∞–º–∏–∫–æ–π.
    
üñã –î–ª—è –ø—Ä–æ—Å—Ç–æ—Ç—ã –Ω–∞—à–µ–≥–æ –æ–±—â–µ–Ω–∏—è –∏ —É—Å–∫–æ—Ä–µ–Ω–∏—è –ø—Ä–æ—Ü–µ—Å—Å–∞ –ø—Ä–æ–≤–µ—Ä–∫–∏, –º–æ–∂–µ—à—å —Ç–æ–∂–µ –≤—ã–¥–µ–ª—è—Ç—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏
<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
    
  –¢—ã –ø—Ä–æ–¥–µ–ª–∞–ª–∞ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—É—é —Ä–∞–±–æ—Ç—É. –¢—ã —Å–ø—Ä–∞–≤–∏–ª–∞—Å—å —Å –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ–º —à–∞–≥–æ–≤, –Ω–æ –ø–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–º –ø—É–Ω–∫—Ç–∞–º –Ω—É–∂–Ω—ã –¥–æ—Ä–∞–±–æ—Ç–∫–∏.
   –î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å!

# SQL

**–¶–µ–ª—å**: –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–∏—Ç—å –¥–∞–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –Ω–æ–≤–æ–≥–æ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

**–ö–µ–π—Å**: –ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
con=engine.connect()

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Å–æ–∑–¥–∞–Ω–æ –≤–µ—Ä–Ω–æ, –±–∞–∑–∞ —Ä–∞–±–æ—Ç–∞–µ—Ç
</div>

–°–æ—Ö—Ä–∞–Ω–∏–º —Ç–∞–±–ª–∏—Ü—ã –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, —á—Ç–æ–±—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –≤—ã–≤–æ–¥–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ —á–µ—Ä–µ–∑ pandas.

In [2]:
books = '''SELECT * FROM books LIMIT 5'''
authors = '''SELECT * FROM authors LIMIT 5'''
publishers = '''SELECT * FROM publishers LIMIT 5'''
ratings = '''SELECT * FROM ratings LIMIT 5'''
reviews = '''SELECT * FROM reviews LIMIT 5'''

–§—É–Ω–∫—Ü–∏—è –¥–ª—è –≤—ã–≤–æ–¥–∞:

In [3]:
def table(sql):
    return pd.io.sql.read_sql(sql, con = engine)

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü:

In [4]:
table(books)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
table(publishers)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [6]:
table(ratings)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [7]:
table(reviews)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<div class="alert alert-block alert-success">
    <b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ, –ø—Ä–æ—Å–º–∞—Ç—Ä–∏–≤–∞—è –∏—Å—Å–ª–µ–¥—É–µ–º—ã–µ —Ç–∞–±–ª–∏—Ü—ã, –∏—Å–ø–æ–ª—å–∑—É–µ—à—å –º–µ—Ç–æ–¥ LIMIT –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –≤—ã–≤–æ–¥–∞
</div>

## –ó–∞–¥–∞–Ω–∏–µ 1: –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [8]:
books_cnt = '''
SELECT COUNT(book_id) 
FROM books
WHERE publication_date > '2000-01-01'
'''
table(books_cnt)

   count
0    819

**819 –∫–Ω–∏–≥** –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ó–∞–ø—Ä–æ—Å –Ω–∞–ø–∏—Å–∞–Ω –≤–µ—Ä–Ω–æ, –∫–Ω–∏–≥–∏ –ø–æ–¥—Å—á–∏—Ç–∞–Ω—ã
</div>

## –ó–∞–¥–∞–Ω–∏–µ 2: –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

–î–ª—è –ø–æ–¥—Å—á—ë—Ç–∞ —Ä–µ–π—Ç–∏–Ω–≥–∞ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–∏—Å–æ–µ–¥–∏–Ω–∏—Ç—å —Ç–∞–±–ª–∏—Ü—ã —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º ratings –∏ –æ–±–∑–æ—Ä–∞–º–∏ reviews –∫ —Ç–∞–±–ª–∏—Ü–µ —Å –∫–Ω–∏–≥–∞–º–∏ books

In [9]:
ratings_reviews = '''
SELECT books.title AS title,
       books.book_id AS book_id,
       AVG(ratings.rating) AS avg_rating,
       COUNT(DISTINCT reviews.text) AS reviews_cnt
FROM books
FULL OUTER JOIN reviews ON reviews.book_id = books.book_id
FULL OUTER JOIN ratings ON ratings.book_id = books.book_id
GROUP BY books.title,
         books.book_id
ORDER BY reviews_cnt DESC, avg_rating DESC     

'''
table(ratings_reviews)

,title,book_id,avg_rating,reviews_cnt
0,Twilight (Twilight #1),948,3.662500,7
1,Harry Potter and the Prisoner of Azkaban (Harr...,302,4.414634,6
2,Harry Potter and the Chamber of Secrets (Harry...,299,4.287500,6
3,The Book Thief,656,4.264151,6
4,The Glass Castle,734,4.206897,6
...,...,...,...,...
995,Disney's Beauty and the Beast (A Little Golden...,191,4.000000,0
996,Leonardo's Notebooks,387,4.000000,0
997,Essential Tales and Poems,221,4.000000,0
998,Anne Rice's The Vampire Lestat: A Graphic Novel,83,3.666667,0
999,The Natural Way to Draw,808,3.000000,0

–ù–∞ –ø–µ—Ä–≤–æ–º –º–µ—Å—Ç–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –æ–±–∑–æ—Ä–æ–≤ **Twilight (Twilight #1)**, —Ö–æ—Ç—è —Ä–µ–π—Ç–∏–Ω–≥ –Ω–µ —Å–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π.

<div class="alert alert-block alert-danger">
<b> ‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢—ã –ø–æ—Å—á–∏—Ç–∞–ª–∞ –≤—Å—ë –≤–µ—Ä–Ω–æ, –Ω–æ –∫–Ω–∏–≥–∏ –±–µ–∑ —Ä–µ–≤—å—é –∏ —Ä–µ–π—Ç–∏–Ω–≥–∞ —Ç–æ–∂–µ –¥–æ–ª–∂–Ω—ã –ø–æ–ø–∞–¥–∞—Ç—å –≤ –¥–∞—Ç–∞—Å–µ—Ç, –∞ —Å–µ–π—á–∞—Å —É —Ç–µ–±—è –æ–Ω–∏ –æ—Ç—Å–µ–∫–∞—é—Ç—Å—è.
</div>

<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –°–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–ª–∞.</div>

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ 2:</b> –•–æ—Ä–æ—à–æ
</div>

## **–ó–∞–¥–∞–Ω–∏–µ 3: –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã**

In [10]:
publisher50 = '''
SELECT publishers.publisher AS name_publisher,
       COUNT(books.book_id) AS cnt__books
FROM publishers
INNER JOIN books ON books.publisher_id = publishers.publisher_id
WHERE books.num_pages > 50
GROUP BY name_publisher
ORDER BY cnt__books DESC
LIMIT 1
'''
table(publisher50)

  name_publisher  cnt__books
0  Penguin Books          42

–ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ **Penguin Books** - 42 –∫–Ω–∏–≥–∏.

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –û—Ç–ª–∏—á–Ω–æ, —É —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–æ—Å—å –æ—Ç—Ñ–∏–ª—å—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —É—Å–ª–æ–≤–∏—è–º
</div>

## –ó–∞–¥–∞–Ω–∏–µ 4: –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [11]:
author_high_rating = '''

WITH a AS
  (SELECT authors.author AS author,
          books.book_id AS id,
          AVG(ratings.rating) AS avg_rating,
          COUNT(ratings.rating) AS cnt_rating
FROM authors
INNER JOIN books ON books.author_id = authors.author_id
INNER JOIN ratings ON ratings.book_id = books.book_id
GROUP BY author,
         id
HAVING COUNT(ratings.rating) >= 50)

SELECT a.author AS author,
       AVG(a.avg_rating) AS avg_rating
FROM a
GROUP BY author
ORDER BY avg_rating DESC
LIMIT 1    
'''
table(author_high_rating)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.283844

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (50 –æ—Ü–µ–Ω–æ–∫ –∏ –±–æ–ª–µ–µ) - **J.K. Rowling/Mary GrandPr√©**.

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –í–µ—Ä–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ!

## –ó–∞–¥–∞–Ω–∏–µ 5 –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [12]:
avg_reviews = '''

WITH a AS
  (SELECT username,
          COUNT(rating_id) as cnt
   FROM ratings
   GROUP BY username), 
        
b AS 
  (SELECT COUNT(text)
   FROM reviews
   FULL OUTER JOIN a ON a.username = reviews.username
   WHERE cnt > 48
   GROUP BY reviews.username)        


SELECT ROUND(avg(count)) 
FROM b                                 
'''
table(avg_reviews)

   round
0   24.0

C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24 —à—Ç.

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ —Ç—ã —É–º–µ–µ—à—å –ø–∏—Å–∞—Ç—å –≤—Ä–µ–º–µ–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –∏ –∏—Å–ø–æ–ª—å–∑—É–µ—à—å –æ–∫—Ä—É–≥–ª–µ–Ω–∏–µ :)
</div>

–û–±—â–∏–π –≤—ã–≤–æ–¥:
- –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ **819 –∫–Ω–∏–≥**;
- –≤ —Ç–∞–±–ª–∏—Ü–µ **ratings_reviews** –ø–æ—Å—á–∏—Ç–∞–Ω –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞: –Ω–∞–ø—Ä–∏–º–µ—Ä, –ª–∏–¥–µ—Ä –ø–æ –∫–æ–ª-–≤—É –æ–±–∑–æ—Ä–æ–≤ Twilight  (Twilight #1). –°–æ–≥–ª–∞—Å–Ω–æ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –∫–Ω–∏–≥ –≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ;
- –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - **Penguin Books**;
- –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥(50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫) - **J.K. Rowling/Mary GrandPr√©**. –í–∫–ª—é—á–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–æ–≤ —Å –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —Ç–∞–∫–∂–µ –ø—Ä–∏–≤–ª–µ—á–µ—Ç –±–æ–ª—å—à–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π;
- —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ - **24**.

<div class="alert alert-block alert-success">
<b>‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –í –≤—ã–≤–æ–¥–∞—Ö –æ—Ç—Ä–∞–∂–µ–Ω—ã –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
</div>

<div class="alert alert-info"><b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–µ–≤—å—é!</div>